<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.centit.sys.mapper.MessageMapper">

	<resultMap id="MessageModel" type="com.centit.sys.model.MessageModel" />

	<!-- 查询SQL -->
	<!-- 查询所有短消息 -->
	<select id="queryAllMessage" parameterType="map" resultMap="MessageModel">
		<![CDATA[ SELECT T.MESSAGEID,T.SENDID,T.SENDER,T.MSGINFO,TO_CHAR(T.SENDTIME,'yyyy-mm-dd hh24:mi:ss') AS SENDTIME,T.RECEIVEID,T.RECEIVER,
    						decode(NVL(M.MSGTRACEID,'0'), '0','0','1') AS CKZT
					FROM T_SYS_MESSAGE T LEFT JOIN T_SYS_MSGTRACE M ON T.MESSAGEID=M.MESSAGEID
 					ORDER BY CKZT ASC,SENDTIME DESC]]>
	</select>
	<!-- 点消息时，看这条消息是否已插入 -->
	<select id="queryOldMessById" parameterType="String" resultType="java.util.HashMap">
		<![CDATA[SELECT MESSAGEID FROM T_SYS_MSGTRACE WHERE MESSAGEID=#{MESSAGEID}]]>
	</select>
	<!-- 点消息时，把消息插入已查看表 -->
	<update id="insertCkztBydxxid" parameterType="map">
		<![CDATA[INSERT INTO T_SYS_MSGTRACE VALUES(#{MSGTRACEID},#{MESSAGEID},SYSDATE)]]>
	</update>
	<!-- 发送短消息
	<insert id="insertMessage" parameterType="map">
		<![CDATA[INSERT INTO T_SYS_MESSAGE(MESSAGEID,SENDID,SENDER,MSGINFO,SENDTIME,RECEIVEID,RECEIVER)
          			SELECT #YHBH#||TO_CHAR(SYSDATE,'yyyymmddhh24miss')||LTRIM(TO_CHAR(ROWNUM,'0000')),
          					#SENDID#,#SENDER#,#MSGINFO#,SYSDATE, A.XTYHID,A.YHM
					FROM T_SYS_XTYH A WHERE (A.XTYHID IN ($XTYHID$) OR A.JGXXID IN ($JGXXID$) OR A.BMXXID IN ($BMXXID$))
						 				AND A.DELFLAG =0 AND A.YHZT='启用']]>
	</insert> -->
	<!-- 发送短消息 modify zzb 2014-7-16 防止插入数据主键重复 -->
	<insert id="insertMessage" parameterType="map">
		<![CDATA[INSERT INTO T_SYS_MESSAGE(MESSAGEID,SENDID,SENDER,MSGINFO,SENDTIME,RECEIVEID,RECEIVER)
          			SELECT rawtohex(sys_guid()) as UUID,
          					#{SENDID},#{SENDER},#{MSGINFO},SYSDATE, A.XTYHID,A.YHM
					FROM T_SYS_XTYH A WHERE (A.XTYHID IN (${XTYHID}) OR A.JGXXID IN (${JGXXID}) OR A.BMXXID IN (${BMXXID}))
						 				AND A.DELFLAG =0 AND A.YHZT='启用']]>
	</insert>
	
	
	
	<!-- 审核时发送短消息 -->
	<insert id="insertMessageByAudit" parameterType="map">
		<![CDATA[INSERT INTO T_SYS_MESSAGE(MESSAGEID,SENDID,SENDER,MSGINFO,SENDTIME,RECEIVEID,RECEIVER)
					SELECT #YHBH#||TO_CHAR(SYSDATE,'yyyymmddhh24miss')||LTRIM(TO_CHAR(ROWNUM,'0000')),
                    	#{SENDID},#{SENDER},#{MSGINFO},SYSDATE, A.XTYHID,A.YHM
          			FROM T_SYS_XTYH A,T_SYS_XTYHJS B,T_SYS_XTJS C 
          			WHERE A.XTYHID=B.XTYHID AND B.XTJSID=C.XTJSID
                		AND (A.XTYHID IN (${XTYHID}) OR A.JGXXID IN (${JGXXID}) OR A.BMXXID IN (${BMXXID}) OR C.XTJSID IN (${XTJSID}))
						AND A.DELFLAG =0 AND A.YHZT='启用' AND B.DELFLAG=0 AND C.DELFLAG=0 AND C.STATE='启用']]>
	</insert>
	<!-- 首页代办事宜 -->
	<select id="queryDbsyByUser" parameterType="String" resultType="java.util.HashMap" >
		<![CDATA[${SELECTSQL}]]>
	</select>
	<!-- 数据过滤 -->
	<select id="queryFilterData" parameterType="String" resultType="java.util.HashMap">
		<![CDATA[${SELECTSQL}]]>
	</select>
</mapper>



