<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.centit.sys.mapper.NoticeMapper">


	<!-- 使用Notice装载结果集 -->
	<resultMap id="NoticeModel" type="com.centit.sys.model.NoticeModel">
		<result column="NOTICE_ID" property="NOTICE_ID" />
	</resultMap>
	
	<!-- 使用Notice装载结果集 -->
	<resultMap id="NotcAreaModel" type="com.centit.sys.model.NotcAreaModel">
		<result column="NOTC_AREA_ID" property="NOTC_AREA_ID" />
	</resultMap>
	<!-- 使用Notice装载结果集 -->
	<resultMap id="NotcDeptModel" type="com.centit.sys.model.NotcDeptModel">
		<result column="NOTC_DEPT_ID" property="NOTC_DEPT_ID" />
        <result column="NOTICE_ID" property="NOTICE_ID" />
        <result column="DEPT_ID" property="DEPT_ID" />
        <result column="DEPT_NAME" property="DEPT_NAME" />
        <result column="DEL_FLAG" property="DEL_FLAG" />
	</resultMap>
	

	<!-- 动态查询 and 列表分页 -->
     <sql id="queryDynSql">
        <if test="NOTICE_TITLE !=null and NOTICE_TITLE !='' "> 
        	and u.NOTICE_TITLE like '%'||#{NOTICE_TITLE}||'%'
		</if>
		<if test="NOTICE_OBJ !=null and NOTICE_OBJ !='' "> 
			and u.NOTICE_OBJ like '%'||#{NOTICE_OBJ}||'%'       
		</if>
		<if test="NOTICE_TYPE !=null and NOTICE_TYPE !='' "> 
			and u.NOTICE_TYPE = #{NOTICE_TYPE}        
		</if>
		<if test="NOTICE !=null and NOTICE !='' "> 
			and u.NOTICE like '%'||#{NOTICE}||'%'        
		</if>
		<if test="STATIME !=null and STATIME !='' "> 
			and u.STATIME &gt;= to_date(#{STATIME},'yyyy-MM-DD HH24:MI:SS')        
		</if>
		<if test="ENDTIME !=null and ENDTIME !='' "> 
			and u.ENDTIME &lt;= to_date(#{ENDTIME},'yyyy-MM-DD HH24:MI:SS')        
		</if>
		<if test="DELFLAG !=null and DELFLAG !='' "> 
			and u.DELFLAG = #{DELFLAG}        
		</if>
		<if test="STATE !=null and STATE !='' "> 
			and u.STATE = #{STATE}        
		</if>
		<if test="ZTXXID !=null and ZTXXID !='' "> 
			and u.ZTXXID= #{ZTXXID}  
		</if>
		<if test="USERID !=null and USERID !='' ">
			and NOTICE_ID in (
				select distinct NOTICE_ID from t_sys_notc_dept
				where DEPT_ID
				in(
				select LEDGER_ID
				from BASE_XTYH_LEDGER_CHRG
				where DEL_FLAG=0 and XTYHID=#{USERID}
				)
			)
		</if>
		<if test="NOTICE_OBJ !=null and NOTICE_OBJ !='' "> 
			and  u.NOTICE_OBJ=#{NOTICE_OBJ}  
		</if>
		<if test="QXJBCON !=null and QXJBCON !='' "> 
			and  ${QXJBCON}  
		</if>
     </sql>
	<sql id="orderSql">
		order by 
		<if test="orderField !=null and orderField !='' ">    
			${orderField},
		</if>
		CRETIME DESC
	</sql>
	<!-- 查询SQL -->
	<sql id="coreSql">
		<![CDATA[  select u.NOTICE_ID,(case when length(u.NOTICE)>300 then substr(u.NOTICE, 0, 300)||'...' else u.NOTICE end ) NOTICE,
			NOTICE_TITLE,NOTICE_TYPE,NOTICE_OBJ,NOTICE_LVL,
			to_char(u.STATIME,'yyyy-MM-DD HH24:MI:SS') STATIME,
			to_char(u.ENDTIME,'yyyy-MM-DD HH24:MI:SS') ENDTIME,
			u.ISSUER_ID,u.ISSUER_NAME,
			u.ZTXXID,u.STATE,u.CREATER,u.CRENAME,u.UPDNAME,
			to_char(u.CRETIME,'yyyy-MM-DD HH24:MI:SS')CRETIME,
		    to_char(u.UPDTIME,'yyyy-MM-DD HH24:MI:SS')UPDTIME,
		    u.UPDATER,u.DELFLAG
		 from T_SYS_NOTICE u 

		 ]]>
		<where>
			<include refid="queryDynSql" />
		</where>
		<include refid="orderSql"/>
	</sql>
	
	<!-- 分页查询 -->
	<select id="pageQuery" parameterType="map"
		resultType="java.util.HashMap">
		<include refid="coreSql" />
	</select>

	<!-- 分页计数 -->
	<select id="pageCount" parameterType="map" resultType="int">
		<![CDATA[SELECT count(0) cnt FROM T_SYS_NOTICE u ]]>
		<where>
			<include refid="queryDynSql"/>
		</where>
	</select>

   <!-- 查询 -->
	<select id="query" parameterType="map"
		resultType="java.util.HashMap">
		<include refid="coreSql" />
	</select>
	
	<insert id="insert" parameterType="map">
		<![CDATA[
		 insert into T_SYS_NOTICE(NOTICE_ID,NOTICE_TYPE,NOTICE_OBJ,NOTICE_LVL,NOTICE_TITLE,NOTICE,STATIME,ENDTIME,
		 ISSUER_ID,ISSUER_NAME,ZTXXID,CRENAME,UPDNAME,
		 STATE,CREATER,CRETIME,DELFLAG
		 )values(#{NOTICE_ID},#{NOTICE_TYPE},#{NOTICE_OBJ},#{NOTICE_LVL},#{NOTICE_TITLE},#{NOTICE},
		 to_date(#{STATIME},'yyyy-MM-DD HH24:MI:SS'),
		 to_date(#{ENDTIME},'yyyy-MM-DD HH24:MI:SS'),
		 #{ISSUER_ID},#{ISSUER_NAME},#{ZTXXID},#{CRENAME},#{UPDNAME},#{STATE},#{CREATER},sysdate,#{DELFLAG})
		]]>
	</insert>

	<update id="updateById" parameterType="map">
		<![CDATA[ update T_SYS_NOTICE set ]]>
	     	<if test="NOTICE_TYPE !=null">NOTICE_TYPE = #{NOTICE_TYPE},</if>
			<if test="NOTICE_TITLE !=null">NOTICE_TITLE = #{NOTICE_TITLE},</if>
			<if test="NOTICE !=null">NOTICE = #{NOTICE},</if>
			<if test="STATIME !=null">STATIME = to_date(#{STATIME},'yyyy-MM-DD HH24:MI:SS'),</if>
			<if test="ENDTIME !=null">ENDTIME =to_date(#{ENDTIME},'yyyy-MM-DD HH24:MI:SS'),</if>
			<if test="ISSUER_ID !=null">ISSUER_ID = #{ISSUER_ID},</if>
			<if test="ISSUER_NAME !=null">ISSUER_NAME = #{ISSUER_NAME},</if>
			<if test="STATE !=null">STATE = #{STATE},</if>
			<if test="UPDTIME !=null">UPDTIME = sysdate,</if>
			<if test="UPDATER !=null">UPDATER = #{UPDATER},</if>
			<if test="UPDNAME !=null">UPDNAME = #{UPDNAME},</if>
			<if test="DELFLAG !=null">DELFLAG = #{DELFLAG},</if>
			<if test="NOTICE_OBJ !=null">NOTICE_OBJ = #{NOTICE_OBJ},</if>
			<if test="NOTICE_LVL !=null">NOTICE_LVL = #{NOTICE_LVL}</if>
			
		<![CDATA[ where NOTICE_ID = #{NOTICE_ID} ]]>
	</update>
	<!-- 逻辑删除 只是更新状态-->
	<delete id="delete" parameterType="map">
		<![CDATA[ update T_SYS_NOTICE set ]]>
			<if test="UPDTIME !=null">UPDTIME = sysdate,</if>
			<if test="UPDATER !=null">UPDATER = #{UPDATER},</if>
			<if test="UPDNAME !=null">UPDNAME = #{UPDNAME},</if>
			<if test="DELFLAG !=null">DELFLAG = #{DELFLAG}</if>
		<![CDATA[ where NOTICE_ID = #{NOTICE_ID} ]]>
	</delete>
	
	<select id="loadById" parameterType="String" resultType="java.util.HashMap">
		<![CDATA[  select u.NOTICE_ID,u.NOTICE,u.NOTICE_TITLE,NOTICE_TYPE,
					to_char(u.STATIME,'yyyy-MM-DD HH24:MI:SS') STATIME,
					to_char(u.ENDTIME,'yyyy-MM-DD HH24:MI:SS') ENDTIME,
					u.ZTXXID,u.STATE,u.CREATER,u.CRENAME,u.UPDNAME,
					to_char(u.CRETIME,'yyyy-MM-DD HH24:MI:SS')CRETIME,CRENAME,
				    to_char(u.UPDTIME,'yyyy-MM-DD HH24:MI:SS')UPDTIME,u.UPDATER,UPDNAME,
				    u.DELFLAG,
				    u.NOTICE_OBJ,
				    u.NOTICE_LVL,
				    u.ISSUER_ID,u.ISSUER_NAME,u.AUDIT_NAME,
				    to_char(u.AUDIT_TIME,'yyyy-MM-DD HH24:MI:SS')AUDIT_TIME
				 from T_SYS_NOTICE u
				 where u.NOTICE_ID = #{NOTICE_ID}
			]]>
	</select>
	
   <!--  =====================================子表sql================================================================================ -->



    <insert id="insertDeptChld" parameterType="map">
		<![CDATA[
		 insert into T_SYS_NOTC_DEPT(NOTC_DEPT_ID,NOTICE_ID,DEPT_ID,DEL_FLAG)
		 values(#{NOTC_DEPT_ID},#{NOTICE_ID},#{DEPT_ID},#{DEL_FLAG})
		]]>
	</insert>
	

	
	
	<delete id="deleteDeptChild" parameterType="map">
	  delete from T_SYS_NOTC_DEPT where NOTICE_ID = #{NOTICE_ID}
	  	</delete>

	<!-- 根据主表ID批量查询子表 -->
	<select id="loadDeptChldByMainId" parameterType="map" resultType="java.util.HashMap">
		<![CDATA[  
		 	select u.NOTC_DEPT_ID,u.NOTICE_ID,u.DEPT_ID,u.DEPT_NAME,u.DEL_FLAG
	          from T_SYS_NOTC_DEPT u 
	          where u.NOTICE_ID = #{NOTICE_ID} 
	          and u.DEL_FLAG=0
	  ]]>
	</select>


	<select id="queryFGZTXXByUser" parameterType="map" resultType="java.util.HashMap">
		<![CDATA[
		 	select LEDGER_ID,LEDGER_NAME_ABBR,XTYHID
              from BASE_XTYH_LEDGER_CHRG
            where DEL_FLAG=0 and XTYHID=#{USERID}
            ]]>
	</select>
</mapper>



