<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.centit.sys.mapper.sqlCommonMapper">
<!-- 获取编码规则 -->
<select id="select001_T_SYS_BMGZ" parameterType="java.util.HashMap" resultType="java.util.HashMap">
  	<![CDATA[
		select A.dt,A.Dlx,A.bc,A.nys,B.Sequencemc from T_SYS_BMGZMX A
		inner join T_SYS_BMGZ B on A.BMGZID = B.BMGZID
		where B.bmdx = '${bmdx}' and A.Delflag = 0 and B.Delflag = 0 and B.State = '${state}'
		ORDER BY dlx asc
	]]>
</select>

<select id="select002_T_SYS_BMGZ" parameterType="java.lang.String" resultType="java.lang.String">
  	<![CDATA[
		SELECT ${sequencemc}.NEXTVAL AS seq FROM dual
	]]>
</select>

<!-- 根据用户信息获取动态列 -->
<select id="queryDynColumn" parameterType="map" resultType="com.centit.commons.inter.dyncolumn.model.DynColumnModel">
 	
	SELECT A.COLPHYSICSNAME, A.COLLOGICNAME,A.TABNAME, A.ISEDIT,NVL(B.ISDISPLAY,A.ISDISPLAY)ISDISPLAY,A.ALIGN, NVL(B.COLORDER,A.DEFORDER) COLORDER
	  FROM T_SYS_TABCOLDETAIL A
	  LEFT JOIN T_SYS_USERCOLSHOW B
	    ON A.TABNO = B.TABNO
	   AND A.COLPHYSICSNAME = B.COLPHYSICSNAME
	   AND B.XTYHID = #{xtyhId}
	 WHERE A.TABNO = #{confNo}
	   <if test="isEdit !=null and isEdit !='' ">
            and  A.ISEDIT =1
        </if>
	 ORDER BY B.COLORDER ASC, COLORDER ASC 
</select>

<delete id="delCustomizedColumn" parameterType="map">
	<![CDATA[	
		delete from t_sys_usercolshow where xtyhid=#{xtyhId} and tabno=#{confNo}
	]]>
</delete>

<insert id="insertCustomizedColumn" parameterType="com.centit.commons.inter.dyncolumn.model.DynColumnModel">
	<![CDATA[	
		insert into T_SYS_USERCOLSHOW(USERCOLSHOWID,XTYHID,TABNO,TABNAME,COLPHYSICSNAME,COLLOGICNAME,COLORDER,ISDISPLAY)
		values(#{USERCOLSHOWID},#{XTYHID},#{TABNO},#{TABNAME},#{COLPHYSICSNAME},#{COLLOGICNAME},#{COLORDER},#{ISDISPLAY})
	     ]]>
</insert>

<insert id="insert" parameterType="java.lang.String">
	<![CDATA[${insertSql} ]]>
</insert>
<update id="update" parameterType="java.lang.String">
	<![CDATA[${updateSql} ]]>
</update>
<select id="queryForInt" parameterType="java.lang.String" resultType="int">
	<![CDATA[${queryForIntSql} ]]>
</select>
<select id="query" parameterType="java.lang.String"  resultType="java.util.HashMap">
	<![CDATA[${querySql} ]]>
</select>
<select id="queryForMap" parameterType="java.lang.String"  resultType="java.util.HashMap">
	<![CDATA[${querySql} ]]>
</select>
</mapper>