<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.centit.sys.mapper.XTYHMapper">

		<!-- 使用UserInfo装载结果集 -->
		<resultMap id="XTYHBean" type="com.centit.sys.model.XTYHBean">
		</resultMap>
		
		<resultMap id="ZTWHModel" type="com.centit.sys.model.ZTWHModel">
		</resultMap>
		
		<resultMap id="ProductUserModel" type="com.centit.base.product.model.ProductUserModel">
		</resultMap>
		
	
		<!-- 动态查询 and 列表分页 -->
		<sql id="queryDynSql">
			<if test="XTYHID !=null and XTYHID !='' "> and u.XTYHID = #{XTYHID}</if>
			<if test="YHBH !=null and YHBH !='' "> and u.YHBH like '%'||#{YHBH}||'%'	</if>
			<if test="YHM !=null and YHM !='' "> and u.YHM like '%'||#{YHM}||'%' </if>
			<if test="JGMC !=null and JGMC !='' "> and u.JGMC like '%'||#{JGMC}||'%'</if>
			<if test="BMMC !=null and BMMC !='' "> and u.BMMC like '%'||#{BMMC}||'%'</if>
			<if test="QXJBCON !=null and QXJBCON !='' "> and ${QXJBCON}</if>
		</sql>
	  <sql id="queryDynSql1">			
			<if test="YHBH !=null and YHBH !='' "> and a.yhbh like '%'||#{YHBH}||'%'</if>
			<if test="YHMC !=null and YHMC !='' "> and a.yhm like '%'||#{YHMC}||'%' </if>
			<if test="RYBH !=null and RYBH !='' "> and d.rybh like '%'||#{RYBH}||'%'</if>
			<if test="RYMC !=null and RYMC !='' "> and d.xm like '%'||#{RYMC}||'%'</if>
			<if test="YHZT !=null and YHZT !='' "> and a.yhzt like '%'||#{YHZT}||'%' </if>
			<if test="JGMC !=null and JGMC !='' "> and c.JGMC like '%'||#{JGMC}||'%'</if>
			<if test="BMMC !=null and BMMC !='' "> and b.BMMC like '%'||#{BMMC}||'%'</if>
			<if test="QXJBCON !=null and QXJBCON !='' "> and ${QXJBCON}</if>
			and c.IS_DRP_LEDGER=0
		</sql> 
	    <sql id="orderSql">
			<if test="orderField !=null and orderField !='' "> 
				order by ${orderField}			
			</if>
		</sql>
		<!-- 查询SQL -->
		<sql id="coreSql">
			<![CDATA[  select  u.*, ROW_NUMBER() OVER(ORDER BY XTYHID) AS rn from V_XTYH_JGXX_BMXX_RYXX u  ]]>
			<where>
				<include refid="queryDynSql" />
			</where>
		</sql>
	
	<!-- 查询SQL -->
		<sql id="coreSqll">
			<![CDATA[  select 
							a.XTYHID,
							a.YHBH,
							a.YHM,
							d.RYXXID,
							d.RYBH,
							d.XM,
							b.BMMC,
							b.BMXXID,
							c.JGMC,
							c.JGXXID,
							a.YHZT,
							a.YHYWLX,
							a.YHLB,
							NVL(a.IS_FG_ALL_CHANN,0)IS_FG_ALL_CHANN                    
						from (select * from T_SYS_XTYH where delflag=0) a 
						left join T_SYS_BMXX b on  a.bmxxid=b.bmxxid 
						left join T_SYS_JGXX c on   a.jgxxid=c.jgxxid 
						left join T_SYS_RYXX d  on  a.ryxxid=d.ryxxid]]>
	        <where>
				<include refid="queryDynSql1" />
			</where>
				<include refid="orderSql"/>
		</sql>
		
		<!-- 分页查询 -->
		<select id="pageQuery" parameterType="map"
			resultType="java.util.HashMap">
			<include refid="coreSqll" />
		</select>
	
	<!-- 查询 -->
	<select id="query" parameterType="map"
		resultType="java.util.HashMap">
		<include refid="coreSql" />
	</select>
	<!-- 查询 -->
	<select id="queryy" parameterType="map"
		resultType="java.util.HashMap">
		<include refid="coreSqll" />
	</select>
		<insert id="insert" parameterType="map">
			<![CDATA[
			 insert into T_SYS_XTYH
			  (XTYHID,
			   YHBH,
			   YHM,
			   YHKL,
			   YHZT,
			   RYXXID,
			   JGXXID,
			   BMXXID,
			   YHLB,
			   ZTXXID,
			   delflag,
			   CREATOR,CRE_NAME,CRE_TIME,PORTAL_URL,YHYWLX)
			values
			  (#{XTYHID,jdbcType=VARCHAR},
			   #{YHBH,jdbcType=VARCHAR},
			   #{YHM,jdbcType=VARCHAR},
			   #{YHKL,jdbcType=VARCHAR},
			   #{YHZT,jdbcType=VARCHAR},
			   #{RYXXID,jdbcType=VARCHAR},
			   #{JGXXID,jdbcType=VARCHAR},
			   #{BMXXID,jdbcType=VARCHAR},
			   #{YHLB,jdbcType=VARCHAR},
			   #{ZTXXID,jdbcType=VARCHAR},
			   #{DELFLAG,jdbcType=VARCHAR},
			   #{CREATOR,jdbcType=VARCHAR},
			   #{CRE_NAME,jdbcType=VARCHAR},
			   sysdate,
			   #{PORTAL_URL,jdbcType=VARCHAR},
			   #{YHYWLX,jdbcType=VARCHAR}
			  )
			]]>
		</insert>
	
		<update id="updateById" parameterType="map">
			<![CDATA[ update T_SYS_XTYH ]]>
			<set>
				<if test="YHM !=null">YHM = #{YHM},</if>
				<if test="RYXXID !=null">RYXXID = #{RYXXID},</if>
				<if test="BMXXID !=null">BMXXID = #{BMXXID},</if>
				<if test="JGXXID !=null">JGXXID = #{JGXXID},</if>
				<if test="ZTXXID !=null">ZTXXID = #{ZTXXID},</if>
				<if test="YHLB !=null">YHLB = #{YHLB},</if>
				<if test="PORTAL_URL !=null">PORTAL_URL = #{PORTAL_URL},</if>
				<if test="YHYWLX !=null">YHYWLX = #{YHYWLX},</if>
			</set>
			<![CDATA[ where XTYHID = #{XTYHID} ]]>
		</update>
		<update id="updateByNo" parameterType="map">
			<![CDATA[ update T_SYS_XTYH  ]]>
			<set>
				<if test="YHM !=null">YHM = #{YHM},</if>
				<if test="RYXXID !=null">RYXXID = #{RYXXID},</if>
				<if test="BMXXID !=null">BMXXID = #{BMXXID},</if>
				<if test="JGXXID !=null">JGXXID = #{JGXXID},</if>
				<if test="ZTXXID !=null">ZTXXID = #{ZTXXID},</if>
				<if test="YHLB !=null">YHLB = #{YHLB},</if>
				<if test="PORTAL_URL !=null">PORTAL_URL = #{PORTAL_URL},</if>
				<if test="YHZT !=null">YHZT = #{YHZT},</if>
			</set>
			<![CDATA[ where YHBH = #{YHBH} ]]>
		</update>
			<!-- 删除菜单 -->
		<delete id="updateOne" parameterType="String">
			<![CDATA[ delete  T_SYS_XTYH  where XTYHID = #{XTYHID} and YHZT='制定']]>
		</delete>
		
		<insert id="insertXTYH" parameterType="map">
		    insert into t_sys_datarecycle(DATARECYCLEID,DELETOR,DELTIME,BUSINESSTYPE,DF1,DF2,DF3,DF4,DF5,DF6,DF7,DF8,DF9,DF10,DF11,DF12,DF13)
		    select #{DATARECYCLEID},#{DELETOR},sysdate,'用户信息维护',XTYHID,XTYHCSSID,ZTXXID,JGXXID,BMXXID,RYXXID,YHBH,YHM,YHKL,YHZT,XTYHQXZT,YHLB,DELFLAG
	        from T_SYS_XTYH  where XTYHID = #{XTYHID}
		</insert>
		<select id="loadById" parameterType="string"
			resultType="java.util.HashMap">
			<![CDATA[
				select a.XTYHID,
				       a.YHBH,
				       a.YHM,
				       d.RYXXID,
				       d.RYBH,
				       d.XM,
				       b.BMMC,
				       b.BMXXID,
				       c.JGMC,
				       c.JGXXID,
				       a.YHZT,
				       a.YHLB,
				       a.IS_FG_ALL_CHANN,
				       e.SJXMC PORTAL_URL_NAME,
				       a.YHYWLX,
				       a.PORTAL_URL,
				       a.ZTXXID
				  from T_SYS_XTYH a
				  left join T_SYS_BMXX b
				    on a.bmxxid = b.bmxxid
				  left join T_SYS_JGXX c
				    on a.jgxxid = c.jgxxid
				  left join T_SYS_RYXX d
				    on a.ryxxid = d.ryxxid
				  left join T_SYS_SJZDMX e on e.SJXZ=a.PORTAL_URL and e.SJZDID='PORTAL_URL'
				 where a.xtyhid = #{XTYHID}
				 
			]]>
		</select>
		
		<update id="updateUserStatusById" parameterType="map">
		   update T_SYS_XTYH
		   set YHZT=#{yhzt}
		   where xtyhid=#{xtyhid}
		</update>
		
		<update id="updatePassword" parameterType="map">
		    update T_SYS_XTYH
		    set YHKL=#{password}
		    where xtyhid=#{xtyhid}
		</update>
		
		<select id="selectAllYhbh"  resultMap="XTYHBean">
		   select YHBH,YHM   from T_SYS_XTYH where delflag=0
		</select>
		
		<select id="getZtxx" parameterType="string" resultType="java.util.HashMap">
			   SELECT distinct B.ZTMC,B.ZTXXID FROM T_SYS_XTYHZTDZ A,T_SYS_ZTXX B,T_SYS_XTYH C
			   WHERE A.XTYHID = C.XTYHID AND B.ZTXXID = A.ZTXXID
			   AND B.STATE = '启用' AND C.YHZT='启用'  AND B.DELFLAG=0
			   AND C.YHM = #{YHM}
		</select>
		
		<select id="getNotices" parameterType="string" resultType="HashMap">
			 select NOTICE from T_SYS_NOTICE
			 WHERE STATE='启用' AND DELFLAG=0 AND SYSDATE BETWEEN STATIME AND ENDTIME
			 AND ZTXXID = #{ZTXXID}
			 ORDER BY UPDTIME DESC
		</select>
		<!-- 根据系统用户ID取机构分管信息 -->
		<select id="queryJgfgMxByXtyhid" parameterType="String" resultType="java.util.HashMap">
			<![CDATA[ SELECT A.XTYHJGFGID,B.YHBH,B.YHM,C.JGBH,C.JGMC 
						FROM T_SYS_XTYHJGFG A 
							LEFT JOIN T_SYS_XTYH B ON A.XTYHID=B.XTYHID 
							LEFT JOIN T_SYS_JGXX C ON A.JGXXID=C.JGXXID
						WHERE A.XTYHID=#{XTYHID}]]>
		</select>
		<!-- 根据系统用户ID取部门分管信息 -->
		<select id="queryBmfgMxByXtyhid" parameterType="String" resultType="java.util.HashMap">
			<![CDATA[ SELECT A.XTYHBMFGID,B.YHBH,B.YHM,C.BMBH,C.BMMC 
						FROM T_SYS_XTYHBMFG A 
							LEFT JOIN T_SYS_XTYH B ON A.XTYHID=B.XTYHID 
							LEFT JOIN T_SYS_BMXX C ON A.BMXXID=C.BMXXID
						WHERE A.XTYHID=#{XTYHID}]]>
		</select>
		<!-- 根据系统用户ID取部门分管信息 -->
		<select id="queryZtfgMxByXtyhid" parameterType="String" resultType="java.util.HashMap">
			<![CDATA[ SELECT A.XTYHZTDZID,B.YHBH,B.YHM,C.ZTBH,C.ZTMC 
						FROM T_SYS_XTYHZTDZ A 
							LEFT JOIN T_SYS_XTYH B ON A.XTYHID = B.XTYHID 
							LEFT JOIN T_SYS_ZTXX C ON A.ZTXXID=C.ZTXXID
						WHERE A.XTYHID=#{XTYHID}]]>
		</select>
		<!-- 根据系统用户ID取部门分管信息 -->
		<select id="getXTYHBH"  resultType="String">
			<![CDATA[ SELECT LPAD(ERP_JC_XTYHBH.NEXTVAL,'4','0') 
						FROM dual]]>
		</select>
		<!-- 插入机构分管明细表 -->
		<insert id="insertJgfgMx" parameterType="map">
			<![CDATA[ INSERT INTO T_SYS_XTYHJGFG (XTYHJGFGID,XTYHID,JGXXID)
						VALUES(#{XTYHJGFGID},#{XTYHID},#{JGXXID}) ]]>
		</insert>
		<!-- 插入部门分管明细表 -->
		<insert id="insertBmfgMx" parameterType="map">
			<![CDATA[ INSERT INTO T_SYS_XTYHBMFG (XTYHBMFGID,XTYHID,BMXXID)
						VALUES(#{XTYHBMFGID},#{XTYHID},#{BMXXID}) ]]>
		</insert>
		<!-- 插入帐套分管明细表 -->
		<insert id="insertZtfgMx" parameterType="map">
			<![CDATA[ INSERT INTO T_SYS_XTYHZTDZ (XTYHZTDZID,XTYHID,ZTXXID)
						VALUES(#{XTYHZTDZID},#{XTYHID},#{ZTXXID}) ]]>
		</insert>
		<!-- 删除机构分管明细表 -->
		<insert id="deleteJgfgMx" parameterType="String">
			<![CDATA[ DELETE FROM T_SYS_XTYHJGFG WHERE XTYHJGFGID IN (${XTYHJGFGID}) ]]>
		</insert>
		<!-- 删除部门分管明细表 -->
		<insert id="deleteBmfgMx" parameterType="String">
			<![CDATA[ DELETE FROM T_SYS_XTYHBMFG WHERE XTYHBMFGID IN (${XTYHBMFGID}) ]]>
		</insert>
		<!-- 删除帐套分管明细表 -->
		<insert id="deleteZtfgMx" parameterType="String">
			<![CDATA[ DELETE FROM T_SYS_XTYHZTDZ WHERE XTYHZTDZID IN (${XTYHZTDZID}) ]]>
		</insert>
		<insert id="insertCGDD" parameterType="map">
			<![CDATA[
			 insert into T_CGDDBH(DDBH,DDRQ,GYSMC,SL,DJ,JE)
			 values(#{DDBH},#{DDRQ},#{GYSMC},#{SL},#{DJ},#{JE})
			]]>
		</insert>
		
		<select id="getRyxxidByXtyhid" parameterType="String" resultType="String">
		   select RYXXID   from T_SYS_XTYH where DELFLAG=0 and XTYHID=#{XTYHID}
		</select>
		<!-- 删除机构分管明细表 -->
		<delete id="deleteJgfg" parameterType="map">
			<![CDATA[ DELETE FROM T_SYS_XTYHJGFG WHERE XTYHID = #{XTYHID} and JGXXID = #{JGXXID} ]]>
		</delete>
		<!-- 删除部门分管明细表 -->
		<delete id="deleteBmfg" parameterType="map">
			<![CDATA[ DELETE FROM T_SYS_XTYHBMFG WHERE XTYHID = #{XTYHID} and BMXXID = #{BMXXID} ]]>
		</delete>
		<!-- 删除帐套分管明细表 -->
		<delete id="deleteZtfg" parameterType="map">
			<![CDATA[ DELETE FROM T_SYS_XTYHZTDZ WHERE XTYHID = #{XTYHID} and ZTXXID = #{ZTXXID} ]]>
		</delete>
		<!-- 根据用户ID查询帐套、部门、机构ID -->
		<select id="loadIdById" parameterType="String"
			resultType="java.util.HashMap">
			<![CDATA[  select ZTXXID,BMXXID,JGXXID                   
	                     from T_SYS_XTYH 
						where XTYHID = #{XTYHID}]]>
		</select>
		
		<select id="loadUserByIDS" parameterType="string" resultMap="ProductUserModel">
		select * from  BASE_USER_CHARG_PRD a left join BASE_PRODUCT b on a.PRD_ID=b.PRD_ID where USER_CHARG_PRD_ID in (${USER_CHARG_PRD_IDS})
	</select>
	<delete id="delUserByIDS" parameterType="string">
		delete from BASE_USER_CHARG_PRD where USER_CHARG_PRD_ID in (${USER_CHARG_PRD_IDS})
	</delete>
	<select id="checkPRD" parameterType="map" resultType="int">
		select count(0) from BASE_USER_CHARG_PRD where XTYHID=#{XTYHID} and PRD_ID in (${PRD_IDS})
	</select>
	<insert id="addCharg" parameterType="java.util.List">
		<foreach collection="list" item="item" index="index" separator=""  open="begin" close="end;" >
			insert into BASE_USER_CHARG_PRD(
				USER_CHARG_PRD_ID,
				XTYHID,
				PRD_ID
			)
			values(
				#{item.USER_CHARG_PRD_ID,jdbcType=VARCHAR},
				#{item.XTYHID,jdbcType=VARCHAR},
				#{item.PRD_ID,jdbcType=VARCHAR}
			);
		</foreach>  
	</insert>
	<update id="upCharg" parameterType="java.util.List">
		<foreach collection="list" item="item" separator="" open="begin" close="end;">
			<![CDATA[ update BASE_USER_CHARG_PRD set ]]>
		    <if test="item.PRD_ID !=null">PRD_ID = #{item.PRD_ID},</if>
			<![CDATA[  where USER_CHARG_PRD_ID = #{item.USER_CHARG_PRD_ID}]]>
		</foreach>
	</update>
	<select id="queryChld" parameterType="string" resultType="java.util.HashMap">
		select b.PRD_NO,b.PRD_NAME,a.USER_CHARG_PRD_ID
		from BASE_USER_CHARG_PRD a 
		left join BASE_PRODUCT b  on a.PRD_ID=b.PRD_ID and b.DEL_FLAG=0
		where XTYHID=#{XTYHID}
	</select>
	
	
	<!-- 设置分管所有渠道 -->
	<insert id="upUserChannCharg" parameterType="map">
		<![CDATA[ insert into
		   BASE_USER_CHANN_CHRG(
		   USER_CHANN_CHRG_ID,
		   CHANN_ID,
		   USER_ID
		   )select 
		   sys_guid(),
		   CHANN_ID,
		   #{XTYHID}
		   from BASE_CHANN c where c.STATE='启用' and c.DEL_FLAG=0
		 ]]>
	 
	</insert>
	
	
	
	<!-- 取消设置分管所有渠道 -->
	<delete id="delUserChannCharg" parameterType="map">
	  delete from BASE_USER_CHANN_CHRG where USER_ID =  #{XTYHID}
	</delete>
	
	
	<update id="upXtyhChargFlag" parameterType="map">
		<![CDATA[ update T_SYS_XTYH  set IS_FG_ALL_CHANN=#{IS_FG_ALL_CHANN} where XTYHID=#{XTYHID} ]]>
	</update>
	
	
	<!-- 渠道启动时 -->
	<insert id="insertUserChannChargByChangeChann" parameterType="map">
		<![CDATA[ insert into
		   BASE_USER_CHANN_CHRG(
		   USER_CHANN_CHRG_ID,
		   CHANN_ID,
		   USER_ID
		   )select 
		   sys_guid(),
		   #{CHANN_ID},
		   XTYHID
		   from T_SYS_XTYH  where IS_FG_ALL_CHANN=1 and DELFLAG=0
		   
		 ]]>
	</insert>
	<!-- 渠道停用时 -->
	<delete id="delChannChargByChangeChann" parameterType="map">
	  delete from BASE_USER_CHANN_CHRG a
	  where a.USER_ID in
	        (select b.XTYHID from T_SYS_XTYH b where b.IS_FG_ALL_CHANN = 1)
	    and a.CHANN_ID = #{CHANN_ID}
	</delete>
	
	
	
	<select id="queryUserList" parameterType="map" resultType="java.util.HashMap">
	 select a.*, b.XM, b.ZW, c.JGMC, d.BMMC,temp.PAR_YHBH,temp.PAR_YHM,temp.PAR_XM
	  from T_SYS_XTYH a
	  left join T_SYS_RYXX b
	    on a.RYXXID = b.RYXXID
	   and RYZT = '启用'
	  left join T_SYS_JGXX c
	    on a.JGXXID = c.JGXXID
	   and c.DELFLAG = 0
	  LEFT JOIN T_SYS_BMXX d
	    on a.BMXXID = d.BMXXID
	   and d.BMZT = '启用'
	   and d.DELFLAG = 0
	   left join 
	  ( select e.USER_ID,e.PAR_USER_ID,f.XTYHID,f.YHBH PAR_YHBH,f.YHM PAR_YHM,g.XM PAR_XM
	    from T_SYS_USER_REL e 
	    left join T_SYS_XTYH f 
	    on e.PAR_USER_ID=f.XTYHID
	     left join T_SYS_RYXX g
	    on g.RYXXID = f.RYXXID
	    and g.RYZT = '启用'
	    )temp
	  on temp.USER_ID=a.XTYHID
	 where a.YHZT = '启用'
	   and a.DELFLAG = 0
	   and NVL(a.IS_DRP_LEDGER,0)=0
	   <if test="QX !=null and QX !='' "> ${QX}	  	</if>
		<if test="YHBH !=null and YHBH !='' "> and a.YHBH=#{YHBH}	  	</if>
		<if test="XM !=null and XM !='' "> and b.XM like '%'||#{XM}||'%'	  	</if>
		<if test="YHM !=null and YHM !='' "> and a.YHM like '%'||#{YHM}||'%'	  	</if>
		<if test="BMMC !=null and BMMC !='' "> and d.BMMC like '%'||#{BMMC}||'%'	  	</if>
		<if test="JGMC !=null and JGMC !='' "> and c.JGMC like '%'||#{JGMC}||'%'	  	</if>
	</select>
	
	
	<delete id="deleteStepUser" parameterType="map">
	    delete from T_SYS_USER_REL where USER_ID in (${USER_IDS})
	</delete>
	
	<insert id="insertStepUser" parameterType="java.util.List">
		<foreach collection="list" item="item" index="index" separator=""  open="begin" close="end;" >
			<![CDATA[ INSERT INTO 
			  T_SYS_USER_REL 
			  (
				USER_REL_ID,
				USER_ID,
				PAR_USER_ID
				)VALUES(
				#{item.USER_REL_ID},
				#{item.USER_ID},
				#{item.PAR_USER_ID}
				) ;
			]]>
		</foreach>  
	</insert>
	
	
	
	
	
	
	
	
	<select id="getLedgerChrgList" parameterType="string" resultType="java.util.HashMap">
			select 
				a.XTYH_LEDGER_ID,
				a.XTYHID,
				a.LEDGER_ID,
				a.LEDGER_NAME,
				a.LEDGER_NAME_ABBR,
				a.CREATOR,
				a.CRE_NAME,
				to_char(a.CRE_TIME,'yyyy-MM-DD HH24:MI:SS') CRE_TIME,
				a.UPDATOR,
				a.UPD_NAME,
				to_char(a.UPD_TIME,'yyyy-MM-DD HH24:MI:SS') UPD_TIME,
				a.DEL_FLAG
			from BASE_XTYH_LEDGER_CHRG a 
			where a.XTYHID=#{XTYHID} and a.DEL_FLAG='0'
			order by a.LEDGER_NAME_ABBR asc
		</select>
		<select id="getLedgerChrgListByIds" parameterType="string" resultType="java.util.HashMap">
			select 
				a.XTYH_LEDGER_ID,
				a.XTYHID,
				a.LEDGER_ID,
				a.LEDGER_NAME,
				a.LEDGER_NAME_ABBR,
				a.CREATOR,
				a.CRE_NAME,
				to_char(a.CRE_TIME,'yyyy-MM-DD HH24:MI:SS') CRE_TIME,
				a.UPDATOR,
				a.UPD_NAME,
				to_char(a.UPD_TIME,'yyyy-MM-DD HH24:MI:SS') UPD_TIME,
				a.DEL_FLAG
			from BASE_XTYH_LEDGER_CHRG a 
			where a.XTYH_LEDGER_ID  in (${XTYH_LEDGER_IDS}) and a.DEL_FLAG='0'
		</select>
		<update id="delLedChrgByLedIds" parameterType="map">
			<![CDATA[ update BASE_XTYH_LEDGER_CHRG set
			UPDATOR=#{UPDATOR},
			UPD_NAME=#{UPD_NAME},
			UPD_TIME=sysdate,
			DEL_FLAG=#{DEL_FLAG}
			where XTYH_LEDGER_ID in (${XTYH_LEDGER_IDS})]]>
		</update>
		<update id="delLedChrgByLedChannId" parameterType="map">
			update BASE_XTYH_LEDGER_CHRG set
			UPDATOR=#{UPDATOR},
			UPD_NAME=#{UPD_NAME},
			UPD_TIME=sysdate,
			DEL_FLAG=#{DEL_FLAG}
			where XTYHID = #{XTYHID}
		</update>
		<insert id="insertLegerChrg" parameterType="map">
			<foreach collection="list" item="item" index="index" separator=""  open="begin" close="end;" >
				insert into BASE_XTYH_LEDGER_CHRG(
					XTYH_LEDGER_ID,
					XTYHID,
					LEDGER_ID,
					LEDGER_NAME,
					LEDGER_NAME_ABBR,
					CREATOR,
					CRE_NAME,
					CRE_TIME,
					DEL_FLAG
				)values(
					#{item.XTYH_LEDGER_ID},
					#{item.XTYHID},
					#{item.LEDGER_ID},
					#{item.LEDGER_NAME},
					#{item.LEDGER_NAME_ABBR},
					#{item.CREATOR},
					#{item.CRE_NAME},
					sysdate,
					#{item.DEL_FLAG}
				);
			</foreach>
		</insert>
		
	<select id="checkLadgerDup" parameterType="string" resultType="string">
		select LEDGER_NAME
			from BASE_XTYH_LEDGER_CHRG
			where XTYHID =#{XTYHID} and DEL_FLAG=0
			group by LEDGER_ID,LEDGER_NAME
			having count(LEDGER_ID)>1
	</select>

</mapper>



